.nav__item {
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  color: #8C612B;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  text-transform: uppercase;
}

.nav__item:hover {
  color: black;
  opacity: 0.5;

}


